extends layout

block content
  h1= title
  - var cuisine  = [{type: "Indian", name: "Dosa", country: "India"},{type: "Italian", name: "Pasta", country: "Italy"},{type: "chinese", name: "noodles", country: "china"}]
  div(class="container-fluid")
    div(class="row")
      each food, index in tastyFoods
        div(class="col-sm-2" onclick=`eat(${index})`) #{food.type}, #{food.name}, #{food.country}
      script.
        function eat(a) {
          alert(`You enjoyed the ${cuisine[a].type} food!`)}
