extends layout

block content
    h1= title
    -
        var Recipe  = [{"type": "Indian", "name": "Dosa", "price": 50},{"type": "Italian", "name": "Pasta", "price": 200},{"type": "chinese", "name": "noodles", "price": 150}]

    div(class="container-fluid")
        div(class="row")
            each food,index in Recipe
            
                div(class="col-sm-2" onclick =`eat(${index})`) #{food.type}
                div(class="col-sm-2" onclick =`eat(${index})`) #{food.name}
                div(class="col-sm-2" onclick =`eat(${index})`) #{food.price} Rs 
    script.
        function eat(a)
         {
            alert(`You enjoyed the ${Recipe[a].type} food!`)
        }