extends layout

block content
    h1= title
    -
        var cuisine  = [{"type": "Indian", "name": "Dosa", "price": 50},{"type": "Italian", "name": "Pasta", "price": 200},{"type": "chinese", "name": "noodles", "price": 150}]

    div(class="container-fluid")
        div(class="row")
            each food in cuisine
                div(class="col-sm-2") #{food.type}
                div(class="col-sm-2") #{food.name}
                div(class="col-sm-2") #{food.price} Rs 

    script.
        function eat(a) {
        alert(`You enjoyed the ${cuisine[a].type} food!`)}